<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bantoo! - Kampanye</title>
  <!-- CSS Global -->
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/buttons.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/form.css">
  <!-- CSS Khusus Kampanye -->
  <link rel="stylesheet" href="../css/kampanye.css">
  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
</head>
<body>
  <header>
    <h1>Bantoo!</h1>
    <nav hx-get="/api/navigation/kampanye" hx-trigger="load" hx-swap="outerHTML"></nav>
</header>
  <main>
    <section id="daftarKampanye">
      <h2>Daftar Kampanye</h2>
      <ul hx-get="/api/campaign/0/4" hx-trigger="load" hx-swap="innerHTML swap:300ms">
        <span><img src="../css/bars.svg"/> Loading...</span>
      </ul>
    </section>
    <section id="dialog">
    </section>
    <section id="notifikasi">
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Bantoo!. Semua hak dilindungi.</p>
  </footer>
</body>
</html>
